* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: background-color 0.6s;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.main {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0;
  color: #333;
}

.main.dark-mode {
  background-color: #333;
  color: #f0f0f0;
}

.toggle-mode {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 80%;
  padding: 40px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.main.dark-mode .content {
  background-color: #444;
  color: #f0f0f0;
}

h1 {
  font-size: 32px;
  margin-bottom: 20px;
}


.photo{
  width: 60px;
  display: flex;
  justify-content: start;
  align-items: end; 
  margin-left: 0vw 43vw;
  padding-bottom: 3vw;  
}

.buttons {

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  margin-top: 30px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e6e8e6;
  color: rgb(15, 15, 15);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #63d882;
  color: black;
}

.img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

@media (max-width: 768px) {
  .content {
    max-width: 90%;
    padding: 30px;
  }

  h1 {
    font-size: 24px;
  }

  .buttons {
    grid-template-columns: 1fr;
  }
}
